<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <title>Lobby</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Namespaces</h3>
                <ul>
                    <% for(var ns of namespaces) {%>
                        <li><a href="/draw/<%=ns%>"><%= ns %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>